@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');


html,body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}




.nav-b {
  display:block;
  background-color: black;
  width: 100%;
  height: 5%;
  border-bottom: 2px solid red;
}

.nav-b ul,li {
   float: left;

}

.nav-b li {
  list-style: none;
  position:relative;
  left:0;
}


.nav-b a {
  text-decoration: none;
  position:relative;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  display:inline-block;
  margin-left:25px;
  right:90%;
  color:red;
}

.nav-b a:hover {
  animation:r 1s forwards;
}

@keyframes r {
  from {
    transform: rotate();
    opacity: 1;
  }

  to {
    transform: rotate(10deg);
    opacity:.6;
    color:white;
  }
}

.hello {
  display:block;
  background-color: black;
  width:5%;
  height: 35%;
  position:relative;
  top:25%;
  left:45%;
  border: 2px solid red;


}

.hello-content {
  display:none;
}



@keyframes hellothing {
  from {
    
  }

  to {
    width:45%;
    left:30%;
    
  }
}
